@{
    string c = ViewContext.RouteData.Values["controller"]?.ToString() ?? "";
    string a = ViewContext.RouteData.Values["action"]?.ToString() ?? "";
    string area = ViewContext.RouteData.Values["area"]?.ToString() ?? "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CPT231_Assignment06_LeviNoell_Baba</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CPT231_Assignment06_LeviNoell_Baba.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CPT231_Assignment06_LeviNoell_Baba</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark@(c=="Home" && a == "Index" ? " active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark@(c=="Home" && a == "Privacy" ? " active" : "")" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark@(area == "Admin" && c=="Admin" && a == "Add" ? " active" : "")" asp-area="Admin" asp-controller="Magic" asp-action="Add">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark@(area == "Help" && c=="Help" && a == "Index" ? " active" : "")" asp-area="Help" asp-controller="Help" asp-action="Index">Help</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark@(c=="Favorites" && a == "Index" ? " active" : "")" asp-area="" asp-controller="Favorites" asp-action="Index">Favorites</a>
                        </li>
                        @using Microsoft.AspNetCore.Identity
                        @inject SignInManager<User> signInManager
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <!--sign out link-->
                                <form method="post" asp-action="LogOut" asp-controller="Account">
                                    <input type="submit" value="Log Out" class="btn" />
                                </form>
                            </li>
                        }

                        else
                        {
                            <!--sign in and register links-->
                            <li class="nav-item">
                                <!--sign out link-->
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="LogIn">Log In</a>
                            </li>
                            <li class="nav-item">
                                <!--sign out link-->
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <p>_Layout is calling RenderBody()</p>
            @RenderBody()
            <p>_Layout finished calling RenderBody()</p>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - CPT231_Assignment06_LeviNoell_Baba - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
