@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ChangePasswordViewModel

<form method="post" asp-action="ChangePassword">
    <div>
        <label>UserName</label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label>Old Password</label>
        <input asp-for="OldPassword" />
    </div>
    <div>
        <label>New Password</label>
        <input asp-for="NewPassword" />
    </div>
    <div>
        <label>Confirm New Password</label>
        <input asp-for="ConfirmNewPassword" />
    </div>
    <div>
        <button class="btn">Change Password</button>
        <a class="btn" asp-controller="Home" asp-action="Index">Cancel</a>
    </div>
</form>
