@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model RegisterViewModel

<form method="post" asp-action="Register">
    <div>
        <label>UserName</label>
        <input asp-for="UserName" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
    </div>
    <div>
        <label>ConfirmPassword</label>
        <input asp-for="ConfirmPassword" />
    </div>
    
    <div>
        <button class="btn">Register</button>
        <a class="btn" asp-controller="Home" asp-action="Index">Cancel</a>
    </div>
</form>