@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Help";
}
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa ultricies mi quis hendrerit dolor magna eget est lorem. Sed tempus urna et pharetra. Ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla. Consectetur purus ut faucibus pulvinar. Massa tincidunt nunc pulvinar sapien et ligula ullamcorper malesuada proin. Amet consectetur adipiscing elit ut. Bibendum ut tristique et egestas quis ipsum suspendisse. Morbi leo urna molestie at elementum eu facilisis. Consequat interdum varius sit amet mattis vulputate enim nulla aliquet. Volutpat est velit egestas dui id ornare arcu odio. Magna fermentum iaculis eu non diam phasellus vestibulum lorem sed. Massa ultricies mi quis hendrerit dolor magna eget est lorem. Tellus cras adipiscing enim eu. Volutpat consequat mauris nunc congue nisi. Pharetra pharetra massa massa ultricies mi quis hendrerit dolor magna. Mauris augue neque gravida in fermentum et sollicitudin.

    Fames ac turpis egestas maecenas pharetra convallis posuere. Mattis molestie a iaculis at erat pellentesque adipiscing commodo. Pellentesque elit eget gravida cum sociis. Ultricies mi eget mauris pharetra et ultrices neque. Tellus id interdum velit laoreet id donec ultrices. Dignissim suspendisse in est ante in nibh mauris. Lobortis mattis aliquam faucibus purus in massa tempor nec. Consectetur adipiscing elit pellentesque habitant morbi. Imperdiet nulla malesuada pellentesque elit eget gravida. Commodo quis imperdiet massa tincidunt. Ut porttitor leo a diam sollicitudin tempor. Rhoncus aenean vel elit scelerisque. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel orci.

    Suspendisse faucibus interdum posuere lorem ipsum. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus. Tempus quam pellentesque nec nam aliquam sem et tortor consequat. Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed velit. In arcu cursus euismod quis viverra nibh. Nisi scelerisque eu ultrices vitae auctor eu augue ut. Sit amet luctus venenatis lectus magna fringilla urna porttitor. Ultrices tincidunt arcu non sodales neque sodales ut etiam. Et odio pellentesque diam volutpat commodo sed egestas. Et netus et malesuada fames. Laoreet suspendisse interdum consectetur libero id.
</p>
<a class="nav-link text-dark" asp-area="Help" asp-controller="Help" asp-action="Help">Redirect To Home Index</a>
<a class="nav-link text-dark" asp-area="Help" asp-controller="Help" asp-action="Rule" asp-route-ruleNumber="1">Redirect To Rules</a>

@section scripts {
    <p>This is the scripts section from Index.cshtml HelpController Help Area</p>
}