@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    Rule2 page that includes a link to rule1 and rule3 views
*@
@{
   
}
<h1>Rules Page - 2</h1>
<p>No Yu-Gi-Oh cards</p>
<a class="nav-link text-dark" asp-area="Help" asp-controller="Help" asp-action="Rule" asp-route-ruleNumber="1">Previous</a>
<a class="nav-link text-dark" asp-area="Help" asp-controller="Help" asp-action="Rule" asp-route-ruleNumber="3">Next</a>
