@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    Rule1 page that includes a link to rule2 view
*@
@{

}
<h1>Rules Page - 3</h1>
<p>No Sports cards</p>
<a class="nav-link text-dark" asp-area="Help" asp-controller="Help" asp-action="Rule" asp-route-ruleNumber="2">Previous</a>

