@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout"; //code that specifies that the style should be taken from the _Layout style
}
<h1> This is from _AdminLayout!!!</h1>
<p>_AdminLayout is calling RenderBody()</p>
@RenderBody()
<p>_AdminLayout finished calling RenderBody()</p>